#ignore all files below
__pycache__/
*.pyc
*.pyo
*.pyd
*.so # Shared object files sometimes created
/.ipynb_checkpoints/
/.vscode/
/synthetic_data/
/surrogate_models/
/venv/
/env/
/.venv/
/ENV/
/env.bak/
/venv.bak/
*.log
*.tmp
*.bak
*.patch
*.diff