#ignore all files below
# Ignore cache and compiled files
__pycache__/
*.pyc
*.pyo

# Ignore surrogate models and synthetic data
surrogate_models/
synthetic_data/

# Ignore other common files
*.log
.DS_Store
